@page
@model CustomerSalesSystem.Web.Pages.UnAuthorizedModel
@{
    ViewData["Title"] = "UnAuthorized";
}

<div class="card bg-danger">
    <div class="card-body">
        <div class="text-white">
            <h1>Sorry. But you are not Authorized to view this information.</h1>
        </div>
    </div>
</div>