<configuration>
	<system.webServer>
		<aspNetCore processPath="dotnet" arguments="CustomerSalesSystem.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
			<environmentVariables>
				<environmentVariable name="DOTNET_SYSTEM_GLOBALIZATION_INVARIANT" value="false" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>